@inherits DisplayEmployeeBase

<ConfirmationDialog @ref="DeleteConfirmation" ConfirmationChanged="BtnConfirmDelete_ClickAsync"
    ConfirmationMessage=@($"Are you sure you want to delete \"{Employee.FirstName}\"?")>
</ConfirmationDialog>

<div class="col-lg-4 col-md-6 col-12">
    <div class="card">
        <div class="card-header">
            <label class="my-checkbox-container">
                <input type="checkbox" id="@SelectEmployeeCheckBoxId" checked="@IsEmployeeSelected" @onchange="@CbSelectEmployee_ChangedAsync" />
                <span class="my-checkmark"></span>
                <h3 class="my-checkbox-label" for="@SelectEmployeeCheckBoxId">@Employee.FirstName @Employee.LastName</h3>
            </label>
        </div>
        <img class="card-img-top image-thumbnail" src="@Employee.PhotoPath" asp-append-version="true" />
        @if (ShowFooter)
        {
            <div class="card-footer">
                <div class="container">
                    <div class="row p-5px justify-content-center">
                        <div class="col-xl-4 col-lg-6 col-12">
                            <a href="@($"/employeedetails/{Employee.Id}")" class="btn btn-primary w-100">View</a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <a href="@($"/editemployee/{Employee.Id}")" class="btn btn-primary w-100">Edit</a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <button class="btn btn-danger w-100" type="button" @onclick="BtnDelete_Click">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
